<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ArticleMapper">
    <select id="getAllArticles" resultType="org.sang.bean.Article">
        SELECT * FROM article
    </select>
    <insert id="addNewArticle" parameterType="org.sang.bean.Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article SET title=#{title},summary=#{summary},uid=#{uid},editTime=#{editTime},state=1,author=#{author},conference=#{conference},type=#{type},link=#{link},publishDate=#{publishDate},direction=#{direction}
    </insert>
    <update id="updateArticle" parameterType="org.sang.bean.Article">
        UPDATE article SET title=#{title},summary=#{summary},author=#{author},conference=#{conference},type=#{type},link=#{link},publishDate=#{publishDate},direction=#{direction}
        WHERE id=#{id}
    </update>
    <update id="pvIncrement" parameterType="Long">
        UPDATE article set pageView=pageView+1 WHERE id=#{aid}
    </update>
    <select id="getArticleByState" resultType="org.sang.bean.Article">
        SELECT a.id, a.title, a.publishDate, a.editTime, a.author, a.conference, a.link, a.type, u.nickname, d.directionName FROM article a, user u, search_direction d WHERE a.uid=u.id AND a.direction=d.ID
        <if test="state==2">
            AND state=#{state}
        </if>
        <if test="state==0">
            AND uid=#{uid} AND state=1
        </if>
        <if test="keywords!=null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        <if test="nickname!=''">
            AND u.nickname=#{nickname}
        </if>
        <if test="author!=''">
            AND a.author LIKE concat('%',#{author},'%')
        </if>
        <if test="type!=null">
            AND a.type=#{type}
        </if>
        <if test="conference!=''">
            AND a.conference LIKE concat('%',#{conference},'%')
        </if>
        <if test="direction!=''">
            AND d.directionName=#{direction}
        </if>
        ORDER BY editTime DESC limit #{start},#{count};
    </select>
    <select id="getArticleByStateByAdmin" resultType="org.sang.bean.Article">
        SELECT a.id,a.`title`,a.`editTime`,a.`pageView`,a.`state`,u.`nickname`,c.`cateName`,a.uid FROM article a,user
        u,category c WHERE a.`cid`=c.`id` AND a.`uid`=u.`id` and a.state=1
        <if test="keywords!=null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        ORDER BY a.editTime DESC limit #{start},#{count};
    </select>
    <select id="getArticleCountByState" resultType="int">
        SELECT count(*) FROM article a, user u, search_direction d WHERE a.uid=u.id AND a.direction=d.ID
        <if test="state==2">
            AND state=#{state}
        </if>
        <if test="state==0">
            AND uid=#{uid} AND state=1
        </if>
        <if test="keywords!=null">
            AND a.title LIKE concat('%',#{keywords},'%')
        </if>
        <if test="nickname!=''">
            AND u.nickname=#{nickname}
        </if>
        <if test="author!=''">
            AND a.author LIKE concat('%',#{author},'%')
        </if>
        <if test="type!=null">
            AND a.type=#{type}
        </if>
        <if test="conference!=''">
            AND a.conference LIKE concat('%',#{conference},'%')
        </if>
        <if test="direction!=''">
            AND d.directionName=#{direction}
        </if>
    </select>
    <update id="updateArticleState">
        UPDATE article SET state=#{state} WHERE id IN
        <foreach collection="aids" item="aid" separator="," open="(" close=")">
            #{aid}
        </foreach>
    </update>
    <update id="updateArticleStateById" >
        UPDATE article SET state=#{state} WHERE id = #{articleId}
    </update>
    <delete id="deleteArticleById">
        DELETE FROM article WHERE id IN
        <foreach collection="aids" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </delete>
    <select id="getArticleById" parameterType="Long" resultType="org.sang.bean.Article">
        SELECT a.*,u.`nickname`,d.`directionName` FROM article a LEFT JOIN user u ON a.`uid`=u.`id` LEFT JOIN search_direction d ON a.`direction`=d.`id` WHERE a.id=#{aid}
    </select>

    <resultMap id="BaseResultMap" type="org.sang.bean.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="cid" property="cid"/>
        <result column="uid" property="uid"/>
        <result column="publishDate" property="publishDate"/>
        <result column="editTime" property="editTime"/>
        <result column="state" property="state"/>
        <result column="pageView" property="pageView"/>
        <result column="mdContent" property="mdContent"/>
        <result column="htmlContent" property="htmlContent"/>
        <result column="summary" property="summary"/>
        <result column="nickname" property="nickname"/>
        <result column="cateName" property="cateName"/>
        <collection property="tags" ofType="org.sang.bean.Tags" column="tagName">
            <id property="id" column="tid"/>
            <result property="tagName" column="tagName"/>
        </collection>
    </resultMap>

    <insert id="pvStatisticsPerDay">
        INSERT INTO pv(countDate,pv,uid) SELECT CURRENT_DATE(),totalPv-pv,t.`uid` FROM pvview p,totalpvview t WHERE p.`uid`=t.`uid`
    </insert>

    <select id="getCategories" resultType="String" parameterType="long">
        SELECT countDate from pv WHERE uid=#{uid} ORDER by countDate limit 7
    </select>
    <select parameterType="long" id="getDataStatistics" resultType="int">
        SELECT pv from pv WHERE uid=#{uid} ORDER by countDate limit 7
    </select>
</mapper>